<form class="margin-top-60px" method="post" style="width:250px;padding-left:10px;">
    <input class="form-control" type="text" name="NameUA" placeholder="NameUA" style="width:100%;margin-bottom:10px;" />
    <input class="form-control" type="text" name="NameIT" placeholder="NameIT" style="width:100%;margin-bottom:10px;" />
    <input class="form-control" type="text" name="NameEN" placeholder="NameEN" style="width:100%;margin-bottom:10px;" />
    <input type="submit" class="btn btn-primary" value="Add" />
    <a class="btn btn-danger" href="/administration/defects">Go back</a>
</form>